.layout-container {
  display: flex;
  width: 100%;
  border: 1px solid #395799;
  padding: 2px;
  gap: 2px;
}

.component-info-header {
  background-color: #6d84b4;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.index {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #eff1f6;
  padding: 10px;
}

.universal-btn {
  background-color: #5086de;
  border-color: #5086de;
  color: #fff;
}

.dashed-border {
  display: flex;
  flex-direction: column;
  border: 1px solid #395799;
  border-style: dashed;
}

/* error message */
.message {
  color: red;
}

/* welcome page */
.welcome-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border: 1px solid #395799;
  color: #000;
}

.welcome-page .welcome-header {
  color: #fff;
  background-color: #395799;
  padding-left: 5px;
}

.welcome-page h3 {
  text-align: center;
}

.welcome {
  margin: auto;
}

.welcome-page div:last-of-type{
  display: flex;
  flex-direction: column;
}

.welcome-page .auth-btn {
  display: flex;
  gap: 10px;
  margin: 10px auto;
}


/* login */
.auth {
  height: fit-content;
  border: 1px dashed #395799;
  padding: 2px;
}

.auth div{
  display: flex;
  flex-direction: column;
}

.auth label {
  font-size: 15px;
  margin-left: auto;
}

.auth input {
  border: 1px solid #4d4d4d;
  background-color: #dae0eb;
  outline: none;
}

.auth div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.auth button, .auth-signup button{
  background-color: #5086de;
  border-color: #5086de;
  color: #fff;
}

/* auth-signup */
.auth-signup {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.auth-signup form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

.auth-signup button {
  max-width: fit-content;
  margin: auto;
}

.auth-signup div {
  display: flex;
}

.auth-signup label {
  min-width: 100px;
}

.auth-signup .gender {
  gap: 5px;
  margin-bottom: 10px;
}

.auth-signup .gender div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.auth-signup .gender div label{
  min-width: 0;
}

.auth-signup input {
  border: 1px solid #4d4d4d;
  background-color: #dae0eb;
  outline: none;
}

/* postForm */
.post-form {
  width: 100%;
}

.post-form form {
  display: flex;
  flex-direction: column;
}

.post-form div {
  display: flex;
  flex-direction: column;
}

.post-form label {
  color: #737373;
}

.post-form select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #395799;
  appearance: none;
}

.post-form textarea {
  margin-bottom: 5px;
}

.post-form button {
  display: block;
  margin-left: auto;
  padding: 5px;
  background-color: #395799;
  color: #fff;
  border: none;
  border-radius: 2px;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  width: 15%;
}

/* search  */
.search-form {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 5px;
}

.search-form span {
  margin: auto;
}

/* search results */
.search-results-container, .user-results, .post-results{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.search-results-container {
  gap: 5px;
}

.user-results .user {
  display: flex;
  gap: 5px;
}

.user-results a:hover {
  text-decoration: underline;
}

.search-results-container .avatar {
  width: 32px;
  height: 32px;
}

/* feed item (per item) */
.feed-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ced5e4;
}

.feed-user {
  display: flex;
  gap: 5px;
}

.feed-content {
  font-size: 1.25rem;
  word-break: break-word;
}

.feed-item-avatar {
  width: 32px;
  height: 32px;
}

.feed-action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feed-action button, .likes-count {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #808080;
}

.feed-action button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.feed-action button.liked{
  color: #395799;
}

/* profile page */
.profile-container {
  display: flex;
  padding: 5px;
  gap: 10px;
  width: 100%;
  position: relative;
}

.profile-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  min-width: 25%;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  color: #395799;
}

.profile-actions a {
  border-bottom: 1px solid #d9d9d9;
}

.profile-actions a:hover {
  text-decoration: underline;
}

.profile-information {
  flex: 1;
}

.profile-information > div:first-child{
  border-top: 2px solid #395799;
  background-color: #dee3ed;
  color: #395799;
  font-weight: bold;
  max-width: 100%;
  padding: 0 10px 0 10px;
}

.profile-information > .info-section {
  padding: 10px 10px 0 10px;
  line-height: 1;
}

.info-row {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}

.info-section p {
  color: #395799;
  font-weight: bold;
}

.label {
  min-width: 130px;
  color: #8c8c8c;
}

/* chatbox */
.chatbox {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  width: 100%;
}

.chatbox form {
  display: flex;
  gap: 5px;
}

.chatbox textarea {
  border: none;
  border-top: 1px solid #cccccc;
}

.chatbox button{
  display: none;
  background-color: #5086de;
  border-color: #5086de;
  color: #fff;
}

.chat-messages {
   display: flex;
   flex-direction: column;
   padding: 10px;
   gap: 3px;
   background-color: #f9f9f9;
 }

.chat-receiver-name {
  font-weight: bold;
  background-color: #6d84b4;
  color: #fff;
}

.chat-receiver-name {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
}

.chat-receiver-avatar {
  width: 35px;
  height: 35px;
}

.sender, .receiver {
  padding: 5px;
  word-break: break-word;
  max-width: 70%;
}

.sender {
  margin-left: auto;
  background-color: #dae0eb;
  border: 1px solid #bdc7db;
  color: #333;
  border-radius: 2px;
}

.receiver{
  margin-right: auto;
  color: #333;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

/* chat window from profile */
.chat-window {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 50;
  border: 1px solid #cccccc;
  background-color: #fff;
  max-height: fit-content;
  display: none;
  min-width: 40%;
}

.modal-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-box div {
  display: flex;
  justify-content: space-between;
  background-color: #6d84b4;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
  margin: 0;
}

.modal-box form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.modal-box form button {
  background-color: #6d84b4;
  border: none;
  color: #fff;
  margin-left: auto;
}

.modal-box div button {
  background-color: transparent;
  border: none;
  color: #fff;
}

.modal-box textarea {
  border: 1px solid #cccccc;
}

/* conversations (chat list) */
.conversations {
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.conversation-name {
  display: flex;
  justify-items: center;
  gap: 5px;
}

.conversations a { 
  display: flex;
  flex-direction: column;
}

.conversation-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.conversation-avatar img {
  border-radius: 50%;
}

.conversation-preview {
  font-size: 13px;
}

.notification {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notification-item {
  border: 1px solid #cccccc;
  border-top: none;
  padding: 5px;
}

.notification-item .notification-avatar {
  width: 32px;
  height: 32px;
}

.notification-item .notification-data {
  display: flex;
  width: 100%;
  gap: 5px;
}

.notification-item a {
  display: flex;
  gap: 5px;
}

.notification-item p {
  color: #395799;
  font-weight: bold;
}

.notification-item .notification-event {
  color: inherit;
  font-weight: normal;
}


